
@{
    ViewBag.Title = "404 Error";
}

<h1 style="color:#dc3545!important;font-weight:300!important;" class="">404</h1>
<h2 style="color:#17a2b8!important;font-weight:300!important;" class="">Page not found</h2>

