@model puck.core.Models.ErrorViewModel
@{
    ViewBag.Title = "500 Error";
}

<h1 class="text-danger">500 Error</h1>
<h2 class="text-info">An error occurred while processing your request.</h2>
@if (Model.Exception != null)
{
<p>@Model.Exception.Message</p>
}
@if (!string.IsNullOrEmpty(Model.RequestId))
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}