@using StackExchange.Profiling;
@using Microsoft.Extensions.Configuration;
@inject Microsoft.Extensions.Configuration.IConfiguration config;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link rel="Stylesheet" href="~/areas/puck/assets/css/Site.css" />

    <link href="~/areas/puck/assets/css/all.css" rel="stylesheet" />

    <link rel="Stylesheet" href="~/areas/puck/assets/css/themes/base/jquery-ui.css" />
    <link href="~/areas/puck/assets/css/chosen.min.css" rel="stylesheet" />
    <link href="~/areas/puck/assets/css/codemirror.css" rel="stylesheet" />

    <script type="text/javascript" src="~/areas/puck/assets/js/wysihtml5-0.3.0_rc2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="~/areas/puck/assets/js/jquery.browser.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/areas/puck/assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/modernizr-2.5.3.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/globalize.js"></script>

    <script src="~/areas/puck/assets/js/tinymce5/js/tinymce/tinymce.min.js"></script>

    <link href="~/areas/puck/assets/css/select2.css" rel="stylesheet" />
    <script src="~/areas/puck/assets/js/select2.js"></script>

    <script type="text/javascript" src="~/areas/puck/assets/js/chosen.jquery.min.js"></script>

    <script src="~/Areas/puck/assets/js/moment.js"></script>

    <script type="text/javascript" src="~/areas/puck/assets/js/codemirror.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/code_mirror_modes/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/code_mirror_modes/javascript/javascript.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/code_mirror_modes/xml/xml.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/code_mirror_modes/css/css.js"></script>
    <script type="text/javascript" src="~/areas/puck/assets/js/code_mirror_modes/htmlembedded/htmlembedded.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=@(config.GetValue<string>("GMapsKey"))"></script>

    <link href="~/areas/puck/assets/css/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet" />

    <link href="~/areas/puck/assets/css/bootstrap4.css" rel="stylesheet" />
    <script src="~/areas/puck/assets/js/bootstrap.bundle.min.js"></script>
    <script>
        if (!String.prototype.startsWith) {
            Object.defineProperty(String.prototype, 'startsWith', {
                value: function (search, rawPos) {
                    var pos = rawPos > 0 ? rawPos | 0 : 0;
                    return this.substring(pos, pos + search.length) === search;
                }
            });
        }
        $.widget("custom.autocompleteWithRemove", $.ui.autocomplete, {
            _renderItem: function (ul, item) {
                var el = $("<li>")
                    .attr("data-value", item.value)
                    .append(
                        "<div>"
                        + "<span>" + item.label + "</span>"
                        + "<span data-tag=\"" + item.value + "\" class=\"remove_suggestion\">remove suggestion</span>"
                        + "</div>"
                    )
                    .appendTo(ul);
                return el;
            }
        });
    </script>

    @await Html.PartialAsync("~/areas/puck/views/shared/includes.cshtml")


</head>
    <body>
        @RenderBody()
        
    </body>
</html>
