@inject I_Api_Helper apiHelper;
@using System.Globalization;
@model String
@{
    var selected = string.IsNullOrEmpty(Model) ? PuckCache.SystemVariant : Model;
}
<select name="@ViewData.ModelMetadata.PropertyName" class="defaultlanguage">
    @foreach (var v in apiHelper.AllVariants())
    {
        var isSelected = selected.ToLower().Equals(v.Key.ToLower());
        //string specName = "(none)";
        //try { specName = CultureInfo.CreateSpecificCulture(ci.Name).Name; }
        //catch { }
        <option @(isSelected ? "selected" : "") value="@v.Key.ToLower()">@v.FriendlyName</option>
    }
</select>

