@using System.IO
@using Microsoft.Extensions.Caching.Memory;
@using Microsoft.Extensions.Hosting;
@inject I_Api_Helper apiHelper;
@inject IMemoryCache cache;
@inject Microsoft.Extensions.Hosting.IHostEnvironment env;
@model String
@{

    var views = new List<FileInfo>();
    string typeString = ViewContext.HttpContext.Request.Query["type"];
    if (string.IsNullOrEmpty(typeString))
    {
        typeString = ViewContext.HttpContext.Request.Query["p_type"];
    }
    if (string.IsNullOrEmpty(typeString))
    {
        if (ViewBag.Level0Type != null)
        {
            typeString = ViewBag.Level0Type.Name;
        }
    }
    if (!string.IsNullOrEmpty(typeString))
    {
        string cacheKey = "allowedViews_" + typeString;
        views = cache.Get<List<FileInfo>>(cacheKey);
        if (views == null)
        {
            views = apiHelper.AllowedViews(typeString, new string[] { "~/views/shared/", "~/views/_ViewStart.cshtml" });
            cache.Set(cacheKey,views,TimeSpan.FromMinutes(30));
        }
        if (views.Count == 0)
        {
            views = cache.Get<List<FileInfo>>("puckviews");
            if (views == null)
            {
                views = apiHelper.Views(new string[] { "~/views/shared/", "~/views/_ViewStart.cshtml" });
                if (views.Count > 0 && env.IsProduction()) {
                    cache.Set("puckviews", views,TimeSpan.FromMinutes(30));
                }
            }
        }
    }
    else
    {
        views = cache.Get<List<FileInfo>>("puckviews");
        if (views == null)
        {
            views = apiHelper.Views(new string[] { "~/views/shared/", "~/views/_ViewStart.cshtml" });
            if (views.Count > 0 && env.IsProduction()) {
                cache.Set("puckviews", views,TimeSpan.FromMinutes(30));
            }
        }
    }
    <select name="@ViewData.TemplateInfo.HtmlFieldPrefix">
        @foreach (var f in views.OrderBy(x => x.Name).ToList())
        {
            var selected = string.IsNullOrEmpty(Model) ? false : Model.ToLower().Equals(ApiHelper.ToVirtualPath(f.FullName).ToLower());
            <option @(selected ? "selected" : "") value="@ApiHelper.ToVirtualPath(f.FullName)">
                @f.Name
            </option>
        }
    </select>
}