@model string

<select name="@ViewData.ModelMetadata.PropertyName">
    @foreach(var entry in puck.core.Constants.GeneratorValues.PropertyType){
        var selected = entry.Key.Equals(Model);
        <option @(selected?"selected":"") value="@entry.Key">@entry.Value.Name</option>
    }
</select>