@model puck.core.Models.Admin.ForgottenPassword

@{

}
<div class="container_12 login container">
    <div class="row">
        <div class="grid_12 col-md-12">
            <h1 class="master">Puck</h1>
        </div>
    </div>
    <div class="row">
            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <div class="pt-3 col-9 grid_9">
                    <p>@ViewBag.SuccessMessage</p>
                    <a href="/puck/admin/in">Back to login page</a>
                </div>
            }
            else
            {
                <div class="pt-3 col-md-4 grid_3 push_5 pt-sm-1 mt-sm-1 pt-3 mt-5">
                    <h2>Forgotten Password</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.EditorForModel()
                        <button class="btn btn-link">submit</button>
                    }
                    <div class="error">
                        @Html.ValidationSummary(true)
                    </div>
                </div>
            }
    </div>
</div>
